<div class="card" style="width: 18rem">
  <div class="card-body">
    <h5 class="card-title">{{ book.title }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ book.author }}</h6>
    <ul class="pagination">
      <li class="page-item" *ngFor="let page of book.pages">
        <button class="page-link" (click)="goTo(page)">
          {{ page.pageNr }}
        </button>
      </li>
    </ul>
  </div>
</div>

<span>
  <button class="button_plus" (click)="openModal(mymodal)"></button>
</span>

<ng-template #mymodal>
  <div id="exampleModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <form (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label"
                >Text</label
              >
              <textarea
                class="form-control"
                id="exampleFormControlTextarea1"
                name="message"
                rows="3"
                [(ngModel)]="text"
                #message="ngModel"
              ></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</ng-template>
